.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e6e6e6;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.input{
    height: 3.5rem;
    width: 15rem;
    font-size: 1.08rem;
    border: none;
    background-color: #FFF;
}

.validator {
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
    display: none;
}

.repoTitle {
    font-size: 1.7rem;
}

.resultBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}